body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.507) 1px 1px 3px;
  background-color: rgb(136, 224, 136);
  background-image: url('./background2.jpeg') ;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}